<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Membership</title>
</head>

<body>
  <header>
    <h1>Membership</h1>
  </header>
  <main>

    <% if (!locals.currentUser) {%>
      <h1>Login</h1>
      <form action="/login" method="POST">

        <div>
          <label for="username">Username: </label>
          <input type="text" name="username" id="username">
        </div>
        <div>
          <label for="password">Password: </label>
          <input type="password" name="password" id="password">

        </div>

        <button type="submit">Login</button>
      </form>
      <% } %>
        <% if (locals.currentUser && locals.currentUser.membership_status==true) {%>
          <h1>
            Welcome Back, Member <%= currentUser.username %>
          </h1>
          <% } else if (locals.currentUser) {%>
            <h1>
              Welcome Back <%= currentUser.username %>
            </h1>
            <form action="/membership" method="POST">

              <div>
                <label for="membershipSecret">Secret Code: </label>
                <input type="text" name="membershipSecret" id="membershipSecret">
              </div>

              <button type="submit">Join Club</button>
            </form>
            <% } %>


  </main>
  <footer>
    <h3>Copyright 2025 DDJCS50</h3>
  </footer>
</body>

</html>